header {
    background-color: #ba9469;
    color: white;
    padding: 10px;
    text-align: center;
    position: relative;
    z-index: 1;
}
.user-info{
    position:fixed;
    top: 10px; 
    right: 10px;
}
header h2 {
    margin: 0;
    
}
header h2 span{
    cursor: pointer;
}
.hamburger {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: none;
    padding: 0;
}

/* Show hamburger on small screens */
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }
    header {
        margin-left: 0;
        padding: 15px;
    }
    .user-info{
        position:fixed;
        top: 39px; 
        right: 10px;
        font-size: 12px;
    }
}