
/* Request Container */
.request-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 257px;
    position: fixed;
    z-index: 2;
    top: 20px;
    left: 40%;
    display: none;
}

/* Request Form */
.request-form {
    display: flex;
    flex-direction: column;
}

.request-form h2 {
    margin: 0 0 20px 0;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    margin-bottom: 5px;
    display: block;
}

.input-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.input-group select {
    width: 90%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#success-message {
    color: green;
    text-align: center;
    margin-top: 10px;
}

/* Records Container */
.records-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1000px;
}

.records-section {
    margin-top: 20px;
}

h3 {
    margin-bottom: 10px;
    color: #333;
}

/* Filter Section */
.filter-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px; /* Reduce the gap between elements */
}

.filter-section label {
    margin-right: 5px; /* Reduce the margin between label and input */
    color: #333;
}

.filter-section input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.filter-section button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #0044cc;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filter-section button:hover {
    background-color: #002080;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 0;
    text-align: center;
}

th {
    background-color: #f9f9f9;
    color: #0044cc;
    font-size: 20px;
}

td {
    background-color: #fdfdfd;
    align-items: center;
    font-size: 16px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.pagination button {
    padding: 10px 15px;
    margin: 0 5px;
    background-color: #baa482;
    border: 1px solid #baa482;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    
    transition: background-color 0.3s;
}
.pagination button:hover {
    background-color: #937c5b;
}
.cancel-btn{
    background-color: #b73030;
}
.cancel-btn:hover{
    background-color: #6f0606;
}
/* Responsive Design */
@media (max-width: 768px) {
    .records-container {
        width: 95%;
        padding: 10px;
        
    }
    .request-container{
        width: 81%;
        left: 4%;
    }

    th, td {
        padding: 5px;
        
    }
    th{
        font-size: 16px;
    }
    td{
        font-size: 11px;
    }
    .cancel-btn{
        font-size: 11px;
        padding: 3px;
    }
    .filter-section {
        flex-direction: column;
        align-items: flex-start;
    }

    .filter-section label {
        margin-right: 0;
    }

    .filter-section input,
    .filter-section button {
        margin-right: 0;
        margin-bottom: 10px;
    }
   
}   